@{
    ViewData["Title"] = "Home Page";
    List<Game> games = ViewData["Games"] as List<Game>;
}


<div class="text-center">
    <h1 class="display-4">Games</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@games.Count();
@foreach (Game game in games)
{
    <div>hej</div>
}

What is up?
